body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-blue, .bg-grey {
  color: whitesmoke;
  padding: 100px 50px;
}

.bg-blue {
  background-color: steelblue;
}

.bg-grey {
  background-color: grey;
}